<%= render "navbar" %>

<div class="container">
    <% unless @order_post.empty? %> 
      <section style="margin-top: 100px;">
        <h5 style="display:inline;"><strong>Most Viewed</strong></h5>
        <hr/>
    
        <div class="row">
        <div class="col-sm">
          
          <% @order_post.each do |p| %>
           <a href="/post/show/<%=p.id%>">
            <figure class="snip1273 " style="width: 30%;">
              
             <% if p.video.present? %>
              <img src="http://img.youtube.com/vi/<%= p.video.split("/")[-1] %>/hqdefault.jpg" class="card1">
              <% else %>
              <img src="<%= p.image.url %>" alt="사진" class="card1">
            <% end %>
            
            <figcaption style="text-align:center;" > 
              <p><%= p.title %></p>
              <hr color="#f5f5f5" width="10%">
              <h5><%= simple_format(p.content) %></h5>  
            </figcaption>
            
            </figure>
            </a>
          <% end %>
        </div> 
        </div> 
      </section> 
  <% end %>
</div>

<%= render "footer" %>